body {
    background: url(../img/back01.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.big_tittle {
    text-anchor: 22;
    color: #c9e2b3;
    width: 54%;

    font-size: 49px;
    text-shadow: 3px 3px 3px #000;
}

.tittle2 {
    color: #f8f8f8;
    width: 80%;
    padding-top: 30px;
    font-size: 30px;
    text-shadow: 3px 3px 3px #000;
}

.panel{
    padding: 7px 6px 7px 15px;
    font-stretch: inherit;
    font-size: 11pt;

}

footer{
    color: #ffffff;
    font-size: 12pt;
    text-align: center;
    margin-top: 10px;
}

aside{

    padding: 18px 20px 20px 20px;
    border: 2px transparent;
    border-radius: 10px;
    background:rgb(220,220,220);
    background: transparent\9;
    background:rgba(220,220,220,0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
    zoom: 1;
    text-align: justify;
    font-size: 11pt;
}