body {
    background: url(../img/back01.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.big_tittle {
    text-anchor: 22;
    color: #c9e2b3;
    width: 45%;
    font-size: 49px;
    text-shadow: 3px 3px 3px #000;
}

.tittle2 {
    color: #f8f8f8;
    width: 80%;
    padding-top: 30px;
    font-size: 30px;
    text-shadow: 3px 3px 3px #000;
}

.panel{
    padding: 7px 6px 7px 15px;
    font-stretch: inherit;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 11pt;

}

footer{
    color: #ffffff;
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
}