<div class="row" data-ng-controller="downloadController as av">
    <aside  class="col-xs-15 col-md-8">
        <h2 id="subtitle" ng-init="av.subtitleEfect()" >Download</h2>

        <div>
            The Avalon Framework code repositories have in <b>Github</b>, if you want to clone this project, please go to to next link:
            <a href="https://github.com/delimce/avalon" target="_blank">Avalon repository</a> &nbsp;
            or you can also download zip file in this one:
            <a href="https://github.com/delimce/avalon/archive/master.zip" target="_blank">zip file</a> &nbsp;
            <p>&nbsp;</p>
            Commit's comments of versions 0.1 to 0.8 are in spanish language, next versions wil have english comments
            into the commits, i'm sorry for this, my bad :(
            <p>&nbsp;</p>
            Last update was at:
            04-01-2015
            <p>&nbsp;</p>
            <img height="200px" width="200px" src="http://ericsteinborn.com/github-for-cats/img/ironcat.png">
            

        </div>
    </aside>
</div>