<div class="row" data-ng-controller="releaseController as av">
<aside  class="col-xs-15 col-md-8">
    <h2 id="subtitle" ng-init="av.subtitleEfect()" >Release Notes</h2>
    <p>Avalon releases on date:</p>
   <div>
       <strong>version 0.8 (feb 2015)</strong>
       <ul>
           <li>error handling </li>
           <li>log handler with apache log4php lib</li>
           <li>Twitter Bootstrap compliant design</li>
           <li>security controls</li>
           <li>MailChimp mandrill api for emails notifications</li>
           <li>Restful based webservices api</li>
           <li>Forms helpers</li>
       </ul>
       <br>
       <strong>version 0.1 (jun 2013)</strong>
       <ul>
           <li>Model–view–controller components </li>
           <li>Core development  </li>
           <li>Database access Object (DAO) implemented</li>
           <li>Mysql interface implemented</li>
       </ul>
   </div>
</aside>

</div>